/*--------------------------------------------------------------
# breadcrumbs Section
--------------------------------------------------------------*/
.get-started_BookA-Venu{
    background-color: #FAFAFA !important;
    padding: 40px 60px;
    border-radius: 20px;
}
#breadcrumbs {
    width: 100%;
    height: 80vh;
    background-color: rgba(4, 12, 21, 0.8);
    overflow: hidden;
    position: relative;
    background-position: center;
    background-size: cover;
  }
  
  #breadcrumbs .carousel,
  #breadcrumbs .carousel-inner,
  #breadcrumbs .carousel-item,
  #breadcrumbs .carousel-item::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  #breadcrumbs .carousel-item {
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
  }
  
  #breadcrumbs .carousel-item::before {
    content: "";
    background-color: rgba(4, 12, 21, 0.5);
  }
  
  #breadcrumbs .carousel-container {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 82px;
    left: 50px;
    right: 50px;
  }
  
  #breadcrumbs h2 {
    color: #fff !important;
    margin: 0;
    font-size: 38px !important;
    text-align: center !important;
    font-weight: 700;
  }

  .breadcrunbs-h4{
    color: #fff;
    text-align: center !important;
    margin-top: 30px;
    font-weight: 500;
  }
  
  @media all and (max-width: 1200px) {
    #breadcrumbs h2{
      font-size: 25px !important;
      line-height: 40px !important;
    }
  }
  
  @media all and (max-width: 550px) {
    #breadcrumbs h2{
      font-size: 19px !important;
      line-height: 36px !important;
    }
  }
  
  #breadcrumbs p {
    animation-delay: 0.4s;
    color: #fff;
    margin-top: 10px;
  }
  
  @media (min-width: 1200px) {
    #breadcrumbs p {
      width: 50%;
    }
  }
  
  #breadcrumbs .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
  }
  
  @media (max-width: 992px) {
    #breadcrumbs {
      height: 100vh;
    }
  
    #breadcrumbs .carousel-container {
      text-align: center;
      top: 74px;
    }
  
    #breadcrumbs h2 {
      font-size: 30px;
      
    }
  
    .breadcrumbs-routes{
      flex-direction: column;
      margin-top: 40px;
    }
  
  
  }
  @media (min-width: 1024px) {
  
    #breadcrumbs .carousel-control-prev,
    #breadcrumbs .carousel-control-next {
      width: 5%;
    }
  }
  
  @media (max-height: 500px) {
    #breadcrumbs {
      height: 120vh;
    }
  }
  
  @media (max-height: 500px) {
    #breadcrumbs {
      height: 120vh;
    }
  }
  

/*=================
   Book A Venu 
====================*/
.form1Flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .formFlex_i,
  .formFlex_ii {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    flex-wrap: wrap;
    width: 48%;
  }
  
  .formFlex_i label,
  .formFlex_ii label {
    margin-bottom: 10px;
    font-weight: 700;
  }
  
  .formFlex_i input,
  .formFlex_ii input {
    outline: none;
    border: 1px solid #6c757d;
    background: transparent;
    width: 100%;
    padding: 12px;
    max-width: 100vw;
    font-weight: 500;
  }
  
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
  }
  
  .serviceTypesDetails {
    flex: 1 0 300px;
    margin: 10px;
  }
  
  .formFlex_i select,
  .formFlex_ii select {
    padding: 12px;
  }
  
  .form2 input {
    margin-top: 25px;
  }
  
  .formGeneral {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    flex-wrap: wrap;
    width: 100%;
  }
  
  .formGeneral label {
    margin-bottom: 10px;
    font-weight: 700;
  }
  
  .formGeneral textarea {
    resize: none;
    outline: none;
    border: 1px solid #6c757d;
    background: transparent;
    width: 100%;
    padding: 12px;
    max-width: 100vw;
    font-weight: 500;
  }
  
  .serviceDetails {
    display: flex;
    flex-wrap: wrap;
  }
  
  .serviceTypesDetails {
    flex: 1 0 300px;
    margin: 10px;
  }
  
  .file-input {
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 10px 20px;
    background-color: #e6ebf2;
    border: none;
    border-radius: 5px;
    color: #6c757d;
    font-size: 16px;
  }
  
  .file-input input[type="file"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
  
  .browerseFile p {
    color: yellow;
  }
  
  .QuoteBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .QuoteBtn button {
    outline: none;
    border: none;
    background: #FF5C00;
    padding: 12px 30px;
    color: #e6ebf2;
    border-radius: 6px;
  }
  
  @media all and (max-width: 768px) {
    .formFlex_i,
    .formFlex_ii {
      display: block;
      width: 100%;
    }
  
    .formFlex_i select,
    .formFlex_ii select {
      width: 100%;
    }
  }
  
  .book-a-menu_h2{
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 23px;
  }